body {
    background-color: black;
}
div.word{
    color: grey;
    font-size: 40px;
    display: inline-block;
    padding: 10px 5px;
}
img#profile{
    height:50px;
    width: 50px;
    float: right;
}
div#Game{
    line-height: 35px;
    overflow: hidden;
    height: 103px;
}

div#QGame{
    margin: auto;
    margin-top:25%;
    padding: 10px;
    line-height: 35px;
    height: fit-content;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#cursor{
    top: 45px;
    left: 10px;
    width:2px;
    height: 30px;
    background-color: blue;
    position: fixed;
    animation: blink 1s infinite;
}
.wrong{
    color: red;
}
.right{
    color: white;
}
#navBar{
    justify-items: center;
    display: flex;
    align-items: center;
}
#button{
    margin-left: 50%;
}
#button button{
    height: auto;
    background-color: aqua;
}
#button button:hover{
    transition: 5s;
}
